<app-navbar></app-navbar>

<h2 style="text-align:center ; margin-top: 100px;">About</h2>

<p style="background-color:rgb(153, 139, 139) ; font-style: italic;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab iure odio modi tempore vero optio maxime unde reprehenderit? Quidem nobis fugiat adipisci corrupti. Commodi consequuntur magni aperiam perspiciatis illo totam.</p>
<br>
<p style="background-color:rgb(153, 139, 139) ; font-style: italic;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas rem ut cupiditate nesciunt maiores excepturi. Non iusto adipisci fuga quaerat, aspernatur soluta in cumque perspiciatis possimus ducimus dolor autem quasi nobis cum est pariatur corporis. Esse, voluptatem. Officiis hic possimus explicabo fuga, dicta animi et odit voluptate aliquid unde corrupti modi assumenda eos. Labore inventore tempore fuga eveniet non assumenda recusandae doloremque! Cumque, temporibus quod corporis natus et eligendi vitae dolore magni obcaecati incidunt inventore, quaerat ipsum maxime perspiciatis illo recusandae architecto tempora officiis rerum ab numquam explicabo autem error. Quo, beatae. Accusantium, minima vero. Ducimus ratione aspernatur autem non.</p>

